<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="form.component.css">
    <title>Document</title>
</head>
<body>
    <div class="content">
        <input type="file">
        <form action="#">
          <div class="user-details">
            <div class="input-box">
              <span class="details">Libelle</span>
              <input type="text" placeholder="Enter your name" required>
            </div>
            <div class="input-box">
              <span class="details">Prix</span>
              <input type="text" placeholder="Enter your username" required>
            </div>
            <div class="input-box">
              <span class="details">Categorie</span>
              <select name="categorie" id="" style="width: 19.5em; height: 3em; border-radius: 5px;">
                <option value="vzvu">Selectionner un categorie</option>
              </select>
            </div>
            <div class="input-box">
              <span class="details">Stock</span>
              <input type="text" placeholder="Enter your stock" required>
            </div>
            <div class="input-box">
              <span class="details">Fournisseur</span>
              <input type="text" placeholder="Enter your fournisseur" required>
            </div>
            <div class="input-box">
              <span class="details">Reference</span>
              <input type="text" placeholder="" required>
            </div>
          </div>
          <div class="gender-details">
    
          </div>
          <div class="button">
            <input type="submit" value="Save">
          </div>
        </form>
      </div>
    
</body>
</html>