<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <title> Responsive Registration Form | CodingLab </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="article.component.css">
</head>

<body>
  <div class="container" style="background-color: rgba(128, 255, 0, 0.49);">
    <div class="title">Ajout Article</div>
    <app-form></app-form>
  </div>
</body>

</html>